{{define "base"}}
<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>bkmrk</title>
		<link rel='stylesheet' href='/static/css/main.css'>
	</head>
	<body>
		<header>
			<h1><a href='/'>bkmrk</a></h1>
		</header>
		<nav>
			<a href='/'>Home</a>
			<a href='/form'>Create</a>
			<a href='/clear'>Delete</a>
		</nav>
	</section>
	{{template "body" .}}
	</section>
	{{template "footer"}}
	<script src="/static/js/main.js" type="text/javascript">	
	</script>
	</body>
</html>
{{end}}
